# Advent of Code specific
*.input
*.output

# VS Code specific
.vscode/

# Golang
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Rust
target/
**/*.rs.bk

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
out/
target/
.idea/
*.log

# Scala
*.class
*.log
*.project
*.cache
*.settings
*.idea
*.classpath
*.target
*.history
*.metals
*.bloop

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
venv.bak/
venv.bak/
.venv/
.venv.bak/
.venv.bak/
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/
pip-wheel-metadata/
*.manifest
*.spec
*.cover
*.pyc
*.pyo
*.pyd
*.pyp
*.pyt
*.pyz
*.pyzw
*.pyw
*.pywz
*.pywzw
